body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    margin: 0;
}

.site-header {
    background: #4b4957;
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 1.4rem;
}

.site-main {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.review-form {
    background: #c7c4c4;
    padding: 1.5rem;
    border-radius: 8px;
    width: 420px;
}

label {
    display: block;
    margin-top: 1rem;
    font-weight: 500;
}

input {

    padding: 0.5rem;
    margin-top: 0.25rem;
}

textarea {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.25rem;
}

select {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.25rem;
}

fieldset{
    padding-bottom: ;
}


input[type="submit"] {
    margin-top: 1.5rem;
    padding: 0.7rem;
    background: #222;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

input[type="submit"]:hover {
    background: #555;
}

.site-footer {
    background: #4b4957;
    color: white;
    text-align: center;
    padding: 1rem;
}
