body {
    font-family: 'Roboto' , sans-serif;
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid #fff;
    padding: auto;
    background-color: #e6f2ff;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

section {
    padding: auto;
    background-color: blanchedalmond;
}

@media screen and (min-width: 500px){
    header{
        background-color: black;
        color: #fff;
    }

    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
    
